.VipHeader {
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 7px;
}

.FormComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    background-color: #e8d9c1;
    */
    width: 100vw;


}

.FormContent {
    background-color: #fef7ef;
    color: black;
    padding: 20px 40px;
    width: 60vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.FormContent h3,p {
    text-align: center;
    background-color: #fef7ef;
}

.center {
    text-align: center;
}


.Button{
    background-color: black;
    border-color: black;
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;


}

.Button:hover {
    opacity: 0.8;
    background-color: black;
    border-color: white;
    cursor: pointer;
}

.Button:hover:active {
    background-color: black !important;
    border-color: black;
    color: white
}

.Button:active {
    background-color: black !important;
    border-color: black;
    color: white
}

.Button:focus {
    background-color: black !important;
    border-color: black;
    color: white
}


@media screen and (max-width: 900px) {
    .FormContent {
        width: 90vw;
    }
}

@media screen and (max-width: 300px) {
    .FormContent {
        top: 110%;
    }
}

