.Content {
    text-align: center;
    font-weight: 200;
    color: white;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 strong {
    font-weight: 700;
}

.Hero {
    width: 100%;
    height: 80vh;
}

video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    filter:grayscale(90%);
}

.overlay {
    position: absolute;
    top: 0;
    width: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0,0,0, 1);
}

h1,h2,h3 {
    font-weight: 200;
    text-transform: uppercase;

}

h1 {
    letter-spacing:5px;
    font-size: 70px;
}

h2 {
    letter-spacing:2px;  
}

.Content h3 {
    background-color:rgba(0,0,0,0.55);
    color: #e5c28b;
    border-radius: 20px;
    padding: 0 20px;
}








